<a href="https://colab.research.google.com/github/Osesa1/Python-Data-Analysis-for-Healthcare-A-Learning-Journey/blob/main/If_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 22

In [ ]:
if age > 21:
  print('You are welcome to the department')

You are welcome to the department

In [ ]:
if age > 21:
  print('welcome to the department')
else:
  print('sorry rou are not eligible')

welcome to the department

In [ ]:
name = 'john'

In [ ]:
print('my name is', name)

my name is john

In [ ]:
name2 = input('Enter your name')
print('my name is', name2)

Enter your nameoses
my name is oses

In [ ]:
income = int(input('what is your income'))

total = income + income*0.15

print('your income is', total)

what is your income20
your income is 23.0

In [ ]:
age = int(input('what is your age'))

if age < 18:
  print('not eligible')

if age >= 18:
  print('eligible')

what is your age16
not eligible

In [ ]:
age = int(input('what is your age'))

if age >= 18:
  print('eligible')
else:
  print('not eligible')

what is your age23
eligible

In [ ]:
age = 18
credit_hours = 60
if age >= 18 and credit_hours >= 60:
  print('congratulations, you are admitted')
else:
  print('sorry, we cannot admit at this time')

congratulations, you are admitted

In [ ]:
age = 18
credit_hours = 60

if age >= 18 and credit_hours >= 60:
  print('congratulations, you are admitted')

elif age >= 18 and credit_hours < 60:
  print('you will be placed on a three month probation')

else:
  print('sorry, we cannot admit at this time')

congratulations, you are admitted

In [ ]:
age = 18
citizen = False

if age >= 18 and citizen:
  print('eligible')

elif age < 18 and citizen:
  print('vote next time')

else:
  print('not eligible')

not eligible

In [ ]:
coupon = input('enter coupon python all lower case')

if coupon == 'python':
  print('congratulations, you have the right coupon')

else:
  print('sorry we cannot give you access')

enter coupon python all lower casepython
congratulations, you have the right coupon